body {
    height:100%;
}
#mainContainer {
    width:100%;
    height:100%;
}
.menu {
    float: right;
    position: relative;
    top: 0%;
    right:3%;
    z-index:1;
    background-color: transparent;
}
.menu button {
    margin:5px;
}
.map {
    width:100%;
    height:80%; /* auto-adjusted by jQuery to fullscreen */
    min-height:800px;
    position:absolute;
}
#dlgUploadGeoJson, #dlgChangerMarker {
    display:none;
}
.infoWindowCls * {
    max-width:50px;
    clear:right;
    display: block;
}
.selectionResults {
    width:100% !important;
}
